body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d3d3d3;
    font-size: 16px;
}

header {
    width: 100%;
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 10px 0;
}

header h1 {
    font-weight: bold;
}

main {
    padding: 10px;
}

aside {
    width: 25%;
    float: left;
}

h3 {
    font-weight: bold;
}

button {
    margin-top: 10px;
}

hr {
    margin-bottom: 5px;
    background-color: gray;
}

section {
    float: left;
    padding-left: 10px;
    width: 75%;
}

.cityInfo {
    border: 1px solid black;
    min-height: 220px;
    padding: 5px;
    display: none;
}

.uvIndex {
    padding: 5px 10px;
    font-size: 75%;
    border-radius: 5px;
    font-weight: bold;
}

.green {
    background-color: green;
    color: white;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
    color: white;
}

.violet {
    background-color: violet;
}

.fiveDay {
    margin-top: 10px;
    display: none;
}

.fiveDayTitle {
    font-weight: bold;
}

.weatherCard {
    float: left;
    width: 20%;
    padding-right:15px;
}

.weatherCard:last-child {
    padding-right:0;
}

.weatherCardContent {
    background-color: #112;
    color: white;
    padding: 5px;
}

.weatherCardContent h5 {
    font-size: 16px;
    font-weight: bold;
}
